<!-- PROJECT LOGO -->
<br/>
<p align="center">
    <img src="https://raw.githubusercontent.com/Team-17-Bedu/proyecto_python/main/img/icono.png" alt="Logo" width="135" height="135">

  <h3 align="center"><strong>Países con mayor calidad de vida</strong></h3>

  <p align="center">
    Proyecto final para el modulo "Procesamiento de datos con Python"
  </p>
</p>

#### Acerca del proyecto:

Este proyecto tiene como proposito realizar un analisis de la calidad de vida de ciertos paises, con el fin de determinar cuál de ellos podria ser la mejor opcion para vivir o buscar un empleo, todo esto, haciendo uso de herramientas estadísticas y computacionales, siendo el principal aliado, el lenguaje de programacion Python. 


En este caso se tendra como principal objetivo en calcular el IDH por medio de la documentación proporcionada del __*Human Development Report 2020*__, presente en el siguiente [enlace](http://hdr.undp.org/sites/default/files/hdr2020_technical_notes.pdf). Y con tales resultados justificar nuestro anterior proyecto elaborado en el lenguaje R, el proyecto esta presente en el siguiente [enlace](https://github.com/Team-17-Bedu/proyecto).

Todos los indicadores serán obtenidos por medio de la API proporcionada por la [UNDP](http://ec2-54-174-131-205.compute-1.amazonaws.com/API/Login.php), de los cuales serán analizados 
* Años esperados de escolaridad 
* Ingreso nacional bruto (INB) per cápita
* Esperanza de vida al nacer
* Promedio de años de escolaridad

<br/>
<p align="center">
    <img src="https://raw.githubusercontent.com/Team-17-Bedu/proyecto_python/main/img/logo-undp.jpg">
</p>

### Preparación:
Para comenzar se importaron los modulos necesarios (dadas las limitaciones de github no es posible renderizar los widgets, para ello sera necesario visualuzar el notebook en Google Colab)

In [ ]:
import requests
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display

Debido a que el acceso a la API requiere un inicio de sesion, se recurrió al objeto `Session` del modulo `requests`

In [ ]:
session = requests.Session()

Mediante el modulo `widgets` se definieron dos text box para introducir los datos de autenticación, `user` y `password` respectivamente

In [ ]:
user = widgets.Text()
password = widgets.Text()
display(user, password)

Text(value='')

Text(value='')

Definición de la tupla que contendra los datos de acceso

In [ ]:
access = (user.value, password.value)

Inicio de sesión en la API de la UNDP

In [ ]:
session.get("http://ec2-54-174-131-205.compute-1.amazonaws.com/API/Login.php",
            auth=access)

Puesto que el `json` recibido como respuesta presenta una estructura un tanto caotica, fue necesario crear un algoritmo que se encargara de normalizar los datos, a modo de obtener un `DataFrame` homogeneo, para ello se definio la funcion `normalize_data`

In [ ]:
def normalize_data(data_dirt: dict, indicator_id: str) -> dict:
    new_data = {
        'Country': list(data_dirt['country_name'].values())
    }
    countries = list(data_dirt['country_name'].keys())
    for year, year_data in data_dirt['indicator_value'].items():
        values = []
        last_key = ''
        for key, val in year_data[indicator_id].items():
            current_pos = countries.index(key)
            last_pos = countries.index(last_key) if last_key != '' else 0
            last_key = key
            zeros = current_pos - last_pos
            i = 1
            while i < zeros and zeros != 0:
                values.append(0)
                i += 1
            values.append(val)
        new_data[year] = values
    return  new_data

Se declara la función `get_data` que construira la url mediante un `fstring` para la petición, esto es porque la url para la peticion tiene una sintaxis diferente, posteriormente se solicitarán los datos y se harán pasar por el normalizado definido con anterioridad

In [ ]:
def get_data(indicator: str) -> dict :
    url = f'http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/indicator_id={indicator}/structure=yic'
    return normalize_data(session.get(url).json(), indicator)

### Calculo del Indice de Educación
#### Expectativa de años de escolaridad
Obtencion de los registros del indicador correspondiente a la expectativa de años de escolaridad (`ID` = 69706)

In [ ]:
data = get_data('69706')

Creación del `DataFrame` con los datos normalizados y visualización de `head` y `tail`

In [ ]:
expectativa = pd.DataFrame(data)
expectativa

                  Country    1990    1991  ...    2017    2018    2019
0             Afghanistan   2.593   2.919  ...  10.139  10.139  10.176
1                  Angola   3.441   3.252  ...  11.777  11.777  11.777
2                 Albania  11.603  11.764  ...  14.816  14.696  14.696
3                 Andorra  10.799  10.799  ...  13.046  13.300  13.300
4    United Arab Emirates  10.314  10.663  ...  13.643  14.344  14.344
..                    ...     ...     ...  ...     ...     ...     ...
188                 Samoa  11.655  11.699  ...  12.520  12.520  12.730
189                 Yemen   7.531   7.545  ...   8.664   8.664   8.769
190          South Africa  11.371  11.946  ...  13.668  13.668  13.791
191                Zambia   7.518   7.744  ...  11.305  11.392  11.478
192              Zimbabwe   9.774  10.206  ...  10.451  10.451  10.969

[193 rows x 31 columns]

* Dimensiones del `DataFrame`
    * 193 filas
    * 31 columnas

In [ ]:
expectativa.shape

(193, 31)

* Nombre de las columnas

In [ ]:
expectativa.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

#### Calculo del indice de expectativa de años de escolaridad por paises

Se explica a continuación como se realizo el calculo del indice de expectativa de años de escolaaridad por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha - \theta}{\gamma - \theta}$$

Donde:

* $\alpha$ : Es la expectativa de años de escolaridad en el pais.
* $\theta$ : Es la expectativa minima de años de escolaridad. En el documento __*Human Development Report 2020*__ se especifican 0 años.
* $\gamma$ : Es la expectativa maxima de años de escolaridad. En el documento __*Human Development Report 2020*__ se especifican 18 años.


Este calculo se realizo por cada pais en cada uno de los años.

In [ ]:
for year in range(1990, 2020):
    year = str(year)
    indices = []
    for cell in expectativa[year]:
        try:
            indices.append((float(cell) - 0) / (18 - 0))
        except:
            indices.append(0)
    expectativa[f'Indice_Expect_Educacion_{year}'] = indices
 
expectativa = expectativa.drop([str(i) for i in range(1990, 2020)],axis=1)

In [ ]:
expectativa

                  Country  ...  Indice_Expect_Educacion_2019
0             Afghanistan  ...                      0.565333
1                  Angola  ...                      0.654278
2                 Albania  ...                      0.816444
3                 Andorra  ...                      0.738889
4    United Arab Emirates  ...                      0.796889
..                    ...  ...                           ...
188                 Samoa  ...                      0.707222
189                 Yemen  ...                      0.487167
190          South Africa  ...                      0.766167
191                Zambia  ...                      0.637667
192              Zimbabwe  ...                      0.609389

[193 rows x 31 columns]

#### Expectativa de años de escolaridad
Obtencion de los registros del indicador correspondiente al promedio de años de escolaridad (`ID` = 103006)

In [ ]:
data = get_data('103006')

Creación del `DataFrame` con los datos normalizados y visualización de `head` y `tail`

In [ ]:
promedio = pd.DataFrame(data)
promedio

                  Country   1990   1991   1992  ...    2016    2017    2018    2019
0             Afghanistan  1.490  1.564  1.638  ...   3.630   3.780   3.930   3.930
1                  Angola  0.000  0.000  0.000  ...   5.100   5.125   5.174   5.174
2                 Albania  7.830  7.828  7.826  ...  10.025  10.055  10.055  10.146
3                 Andorra  0.000  0.000  0.000  ...  10.590  10.519  10.502  10.502
4    United Arab Emirates  5.623  5.915  6.207  ...  10.923  12.111  12.111  12.111
..                    ...    ...    ...    ...  ...     ...     ...     ...     ...
185                 Samoa  7.602  7.724  7.845  ...  10.595  10.595  10.595  10.779
186                 Yemen  0.290  0.362  0.434  ...   3.000   3.000   3.200   3.200
187          South Africa  6.490  6.600  7.177  ...  10.155  10.155  10.241  10.241
188                Zambia  4.680  4.952  5.224  ...   6.960   7.056   7.104   7.152
189              Zimbabwe  4.530  4.732  4.934  ...   8.292   8.342   8.378   8.467

[190 rows x 31 columns]

* Dimensiones del `DataFrame`
    * 190 filas
    * 31 columnas

In [ ]:
promedio.shape

(190, 31)

* Nombre de las columnas

In [ ]:
promedio.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

#### Calculo del indice de promedio de años de escolaridad por país

Se explica a continuación como se realizo el calculo del indice de promedio de años de escolaridad por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha - \theta}{\gamma - \theta}$$

Donde:

* $\alpha$ : Es el promedio de años de escolaridad en el pais.
* $\theta$ : Es el promedio minimo de años de escolaridad. En el documento __*Human Development Report 2020*__ se especifican 0 años.
* $\gamma$ : Es el promedio maximo de años de escolaridad. En el documento __*Human Development Report 2020*__ se especifican 15 años.


Este calculo se realizo por cada pais en cada uno de los años.

In [ ]:
 
for year in range(1990, 2020):
    year = str(year)
    indices = []
    for cell in promedio[year]:
        try:
            indices.append((float(cell) - 0) / (15 - 0))
        except:
            indices.append(0)
    promedio[f'Indice_Promedio_Edu_{year}'] = indices
 
promedio = promedio.drop([str(i) for i in range(1990, 2020)], axis=1)

Resultado del calculo del indice del promedio de años de escolaridad por cada país en cada uno de sus periodos.

In [ ]:
promedio

                  Country  ...  Indice_Promedio_Edu_2019
0             Afghanistan  ...                  0.262000
1                  Angola  ...                  0.344933
2                 Albania  ...                  0.676400
3                 Andorra  ...                  0.700133
4    United Arab Emirates  ...                  0.807400
..                    ...  ...                       ...
185                 Samoa  ...                  0.718600
186                 Yemen  ...                  0.213333
187          South Africa  ...                  0.682733
188                Zambia  ...                  0.476800
189              Zimbabwe  ...                  0.564467

[190 rows x 31 columns]

#### Calculo del Indice de Educacion
Creación de un `DataFrame` vacío para almacenar todos los resultados del calculo

In [ ]:
header = ['Country']
educacion = pd.DataFrame({}, columns=header)

### Calculo del indice de Educación por país

Se explica a continuación como se realizo el calculo del indice de educación por país.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha + \beta}{2}$$

Donde:

* $\alpha$ : El indice de la expectativa de años de escolaridad en el pais.
* $\beta$ : El indice del promedio de años de escolaridad en el país

Este calculo se realizo por cada pais en cada uno de los años.

In [ ]:
def calcular_indice(_pais, expect, prom):
    dicci = {
        "Country": _pais
    }
    prom, expect = prom[0][1:], expect[0][1:]
    indice = [(float(prom[i]) + float(expect[i])) / 2 for i in range(0, len(prom))]
 
    for i in range(1990, 2020):
        dicci[str(i)] = indice[i - 1990]
    return dicci
 
 
for country in promedio["Country"]:
    expect = expectativa.loc[expectativa.Country == country].to_numpy()
    prom = promedio.loc[promedio.Country == country].to_numpy()
    if len(expect) > 0 and len(prom) > 0:
        educacion = educacion.append(calcular_indice(country, expect, prom), ignore_index= True)

Resultado del calculo del indice de educación por cada país en cada uno de sus periodos.

In [ ]:
educacion

                  Country      1990      1991  ...      2017      2018      2019
0             Afghanistan  0.121694  0.133217  ...  0.407639  0.412639  0.413667
1                  Angola  0.095583  0.090333  ...  0.497972  0.499606  0.499606
2                 Albania  0.583306  0.587711  ...  0.746722  0.743389  0.746422
3                 Andorra  0.299972  0.299972  ...  0.713022  0.719511  0.719511
4    United Arab Emirates  0.473933  0.493361  ...  0.782672  0.802144  0.802144
..                    ...       ...       ...  ...       ...       ...       ...
184                 Samoa  0.577150  0.582439  ...  0.700944  0.700944  0.712911
185                 Yemen  0.218861  0.221650  ...  0.340667  0.347333  0.350250
186          South Africa  0.532194  0.551833  ...  0.718167  0.721033  0.724450
187                Zambia  0.364833  0.380178  ...  0.549228  0.553244  0.557233
188              Zimbabwe  0.422500  0.441233  ...  0.568372  0.569572  0.586928

[189 rows x 31 columns]

### Calculo del Indice de Salud
Obtencion de los registros del indicador correspondiente a la expectativa de años de vida al nacer (`ID` = 69206)

In [ ]:
data = get_data('69206')

Creación del `DataFrame` con los datos normalizados y visualización de `head` y `tail`

In [ ]:
salud = pd.DataFrame(data)
salud

                  Country    1990    1991  ...    2017    2018   2019
0             Afghanistan  50.331  50.999  ...  64.130  64.486  64.83
1                  Angola  45.306  45.271  ...  60.379  60.782  61.15
2                 Albania  71.836  71.803  ...  78.333  78.458  78.57
3                 Andorra  76.517  76.682  ...  81.663  81.786  81.91
4    United Arab Emirates  71.939  72.208  ...  77.647  77.814  77.97
..                    ...     ...     ...  ...     ...     ...    ...
186                 Samoa  66.281  66.470  ...  73.046  73.187  73.32
187                 Yemen  57.346  57.730  ...  66.086  66.096  66.13
188          South Africa  63.307  63.384  ...  63.538  63.857  64.13
189                Zambia  49.249  48.125  ...  63.043  63.510  63.89
190              Zimbabwe  58.100  56.749  ...  60.812  61.195  61.49

[191 rows x 31 columns]

* Dimensiones del `DataFrame`
    * 191 filas
    * 31 columnas

In [ ]:
salud.shape

(191, 31)

* Nombre de las columnas

In [ ]:
salud.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

#### Calculo del Indice de Salud por paises.

Se explica a continuación como se realizo el calculo del indice de salud por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha - \theta}{\gamma - \theta}$$

Donde:

* $\alpha$ : Es la esperanza de vida en el pais.
* $\theta$ : Es la esperanza minima de vida. En el documento __*Human Development Report 2020*__ se especifican 20 años.
* $\gamma$ : Es la esperanza maxima de vida. En el documento __*Human Development Report 2020*__ se especifican 85 años.


Este calculo se realizo por cada pais en cada uno de los años.

In [ ]:
#Calculo del "Indice_Salud"
for i in range(1990,2020):
    ind = str(i)
    salud[ind] = (salud[ind]-20)/(85-20)

Resultado del calculo del indice de salud por cada país en cada uno de sus periodos.

In [ ]:
salud

                  Country      1990      1991  ...      2017      2018      2019
0             Afghanistan  0.466631  0.476908  ...  0.678923  0.684400  0.689692
1                  Angola  0.389323  0.388785  ...  0.621215  0.627415  0.633077
2                 Albania  0.797477  0.796969  ...  0.897431  0.899354  0.901077
3                 Andorra  0.869492  0.872031  ...  0.948662  0.950554  0.952462
4    United Arab Emirates  0.799062  0.803200  ...  0.886877  0.889446  0.891846
..                    ...       ...       ...  ...       ...       ...       ...
186                 Samoa  0.712015  0.714923  ...  0.816092  0.818262  0.820308
187                 Yemen  0.574554  0.580462  ...  0.709015  0.709169  0.709692
188          South Africa  0.666262  0.667446  ...  0.669815  0.674723  0.678923
189                Zambia  0.449985  0.432692  ...  0.662200  0.669385  0.675231
190              Zimbabwe  0.586154  0.565369  ...  0.627877  0.633769  0.638308

[191 rows x 31 columns]

### Calculo del Indice de Salud
Obtencion de los registros del indicador correspondiente a la expectativa de años de vida al nacer (`ID` = 69206)

In [ ]:
data = get_data('195706')

Creación del `DataFrame` con los datos normalizados y visualización de `head` y `tail`

In [ ]:
ingreso = pd.DataFrame(data)
ingreso

                  Country        1990  ...       2018       2019
0             Afghanistan    2477.906  ...   2217.176   2229.362
1                  Angola    4823.397  ...   6360.551   6104.055
2                 Albania    4937.523  ...  13636.864  13998.300
3                 Andorra   45393.316  ...  55253.539  56000.303
4    United Arab Emirates  102433.229  ...  67195.144  67462.095
..                    ...         ...  ...        ...        ...
186                 Samoa    5938.879  ...   6126.974   6308.652
187                 Yemen    2958.129  ...   1563.988   1593.704
188          South Africa    9974.994  ...  12231.840  12129.230
189                Zambia    2015.630  ...   3365.698   3325.519
190              Zimbabwe    1866.265  ...   2942.030   2665.612

[191 rows x 31 columns]

* Dimensiones del `DataFrame`
    * 191 filas
    * 31 columnas

In [ ]:
ingreso.shape

(191, 31)

* Nombre de las columnas

In [ ]:
ingreso.columns

Index(['Country', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

#### Calculo del Indice de Ingreso por paises.

Se explica a continuación como se realizo el calculo del indice de ingreso por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\log(\alpha) - \log(\theta)}{\log(\gamma) - \log(\theta)}$$

Donde:

* $\alpha$ : Es el ingreso nacional bruto.
* $\theta$ : Es el ingreso nacional bruto minimo. En el documento __*Human Development Report 2020*__ se especifica 75,000.
* $\gamma$ : Es el ingreso nacional bruto maximo. En el documento __*Human Development Report 2020*__ se especifica 100,000.


Este calculo se realizo por cada pais en cada uno de los años.

In [ ]:
#Calculo del "Indice_Ingreso"
for i in range(1990,2020):
    ind = str(i)
    val = ingreso[ind]
    ingreso[ind] = [(np.log(i)-np.log(100))/(np.log(75000)-np.log(100)) 
    if i != 0 else 0 for i in val]

Resultado del calculo del indice de ingreso por cada país en cada uno de sus periodos.

In [ ]:
ingreso

                  Country      1990      1991  ...      2017      2018      2019
0             Afghanistan  0.484889  0.456984  ...  0.468942  0.468094  0.468922
1                  Angola  0.585502  0.602011  ...  0.638743  0.627289  0.621071
2                 Albania  0.589034  0.536900  ...  0.736093  0.742494  0.746445
3                 Andorra  0.924151  0.922074  ...  0.951413  0.953844  0.955872
4    United Arab Emirates  1.047088  1.037683  ...  0.984459  0.983401  0.984000
..                    ...       ...       ...  ...       ...       ...       ...
186                 Samoa  0.616928  0.610671  ...  0.625549  0.621638  0.626052
187                 Yemen  0.511647  0.502717  ...  0.420658  0.415377  0.418220
188          South Africa  0.695259  0.691437  ...  0.727183  0.726069  0.724796
189                Zambia  0.453698  0.442048  ...  0.529570  0.531145  0.529331
190              Zimbabwe  0.442068  0.446607  ...  0.501108  0.510823  0.495919

[191 rows x 31 columns]

### Calculo del Indice de Desarrollo Humano (`IDH`)
Apoyandose de los datos obtenidos y calculados con anterioridad se procederá a calcular el `IDH`, donde, de manera similar al Indice de Educación, se generarán un dataframe vacio que contendra el Indice calculado

In [ ]:
header = ['Country']
indice_desarrollo_humano = pd.DataFrame({}, columns=header)

#### Calculo del Indice de Desarrollo Humano por paises.

Se explica a continuación como se realizo el calculo del indice de salud por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge{IDH=\left(I_{Salud}+I_{Educacion}+I_{Ingreso}\right)^{\frac{1}{3}}}$$

Donde:

* $IDH$ : Es el indice de desarrollo humano
* $I_{Salud}$ : Es el indice de salud.
* $I_{Educacion}$ : Es el indice de educación
* $I_{Ingreso}$ : Es el indice de ingreso.


Este calculo se realizo por cada pais en cada uno de los años.

In [ ]:
def IDH(_pais, salud, educacion, ingreso):
    dicci = {
        "Country": _pais
    }
    s, e, i = salud[0][1:], educacion[0][1:], ingreso[0][1:]
    idh = np.power((s * e * i), (1/3))

    for i in range(1990, 2020):
        dicci[str(i)] = idh[i - 1990]
    return dicci


for country in educacion["Country"]:
    i_salud = salud.loc[salud.Country == country].to_numpy()
    i_educacion = educacion.loc[educacion.Country == country].to_numpy()
    i_ingreso = ingreso.loc[ingreso.Country == country].to_numpy()
    if len(i_salud) > 0 and len(i_educacion) > 0 and len(i_ingreso) > 0:
        indice_desarrollo_humano = indice_desarrollo_humano.append(
            IDH(country, i_salud, i_educacion, i_ingreso),
            ignore_index= True)

Resultado del calculo del indice de desarrollo humano por cada país en cada uno de sus periodos.

In [ ]:
indice_desarrollo_humano

                  Country      1990      1991  ...      2017      2018      2019
0             Afghanistan  0.301969  0.307349  ...  0.506297  0.509414  0.511449
1                  Angola  0.279302  0.276516  ...  0.582449  0.581500  0.581311
2                 Albania  0.649509  0.631199  ...  0.790128  0.791796  0.794782
3                 Andorra  0.622343  0.622481  ...  0.863365  0.867289  0.868483
4    United Arab Emirates  0.734672  0.743620  ...  0.880806  0.888589  0.889568
..                    ...       ...       ...  ...       ...       ...       ...
184                 Samoa  0.632903  0.633538  ...  0.709951  0.709095  0.715387
185                 Yemen  0.400704  0.401410  ...  0.466629  0.467713  0.470202
186          South Africa  0.627028  0.633859  ...  0.704598  0.706892  0.709058
187                Zambia  0.420746  0.417393  ...  0.577504  0.581570  0.583990
188              Zimbabwe  0.478383  0.481181  ...  0.563395  0.569181  0.570613

[189 rows x 31 columns]

### Traduccion de los nombres de cada país de ingles a español
Por cuestiones de comodidad, todos los nombres presentes en la columna `Country`, para ello se definio una nueva función que hará uso del modulo `google_trans_new`

In [ ]:
 %%capture
!pip install google_trans_new
from google_trans_new import google_translator
 
def translate(df: pd.DataFrame) -> pd.DataFrame:
    translator = google_translator()
    regs = df.Country.count()
    for i in range(0, regs):
        pais = translator.translate(df.Country[i], lang_tgt='es', lang_src='en')
        df.Country[i] = pais.strip() if type(pais) is not list else pais[1].strip()
    return df

Posteriormente se llamara a la función anterior y se enciara como parametro el `DataFrame` llamado `indice_desarrollo_humano`

In [ ]:
%%capture
indice_desarrollo_humano = translate(indice_desarrollo_humano)

### Conservación de los indices calculados en un archivo CSV 
Una vez concretados todos los procedimientos planeados se conservarán los indices en un nuevo archivo `.csv`

In [ ]:
indice_desarrollo_humano.head()

                  Country      1990      1991  ...      2017      2018      2019
0              Afganistán  0.301969  0.307349  ...  0.506297  0.509414  0.511449
1                  Angola  0.279302  0.276516  ...  0.582449  0.581500  0.581311
2                 Albania  0.649509  0.631199  ...  0.790128  0.791796  0.794782
3                 Andorra  0.622343  0.622481  ...  0.863365  0.867289  0.868483
4  Emiratos Árabes Unidos  0.734672  0.743620  ...  0.880806  0.888589  0.889568

[5 rows x 31 columns]

### Inspección del DataSet antes de proceder a guardarlo.

Antes de guardar los resultados se eliminaran los datos `NUll` del DataSet para futuros casos. En el calculo que se realizo en el Notebook se transformaron los `Null` por valores _0_. Asi que se procedio a remplazarlos y eliminarlos.

In [ ]:
IDH = indice_desarrollo_humano.replace([0],np.nan).copy()

In [ ]:
#Se observa la cantidad de registros que cuentan con Null
print(f'El total de registros con nulos son: {IDH.shape[0] - IDH.dropna().shape[0]}')

El total de registros con nulos son: 13

Se muestran los registros con algun valor `Null`. Los 13 registros con algun `Null` son los siguientes

In [ ]:
indices_sin_nulos = IDH.dropna().index.to_list()
indices_con_nulos = IDH.index.to_list()
indices_borrados = []

for i in indices_con_nulos:
    if not i in indices_sin_nulos:
        indices_borrados.append(i)

IDH.loc[indices_borrados]

                               Country  1990  ...      2018      2019
7                    Antigua y Barbuda   NaN  ...  0.771866  0.777744
19                Bosnia y Herzegovina   NaN  ...  0.777271  0.779776
39                          Cabo Verde   NaN  ...  0.663338  0.665255
52                             Eritrea   NaN  ...  0.456430  0.458570
59   Micronesia (estados federados de)   NaN  ...  0.617697  0.619878
67                   Guinea Ecuatorial   NaN  ...  0.581614  0.592306
112                     Islas Marshall   NaN  ...  0.701574  0.703723
117                         Montenegro   NaN  ...  0.826463  0.828913
142               Palestina, estado de   NaN  ...  0.707726  0.707681
155                      Sudán del Sur   NaN  ...  0.428717  0.432623
168                       Turkmenistán   NaN  ...  0.709545  0.715395
169                        Timor-Leste   NaN  ...  0.598560  0.606098
183                            Vanuatu   NaN  ...  0.602531  0.609330

[13 rows x 31 columns]

Ahora se genera un DataSet sin `Null`

In [ ]:
IDH_sin_nan = IDH.copy().dropna().reset_index(drop=True)

Ahora se volvera a ordenar el DataSet para que aparescan segun el Top del año __2019__.


Para realizar esta activad fue necesario de realizar las siguientes operaciones

In [ ]:
IDH_final = IDH_sin_nan.sort_values("2019",ascending=False).copy()

IDH_final.index = list(range(1,177))

IDH_final['Top'] = IDH_final.index

IDH_final.head()

     Country      1990      1991      1992  ...      2017      2018      2019  Top
1  Australia  0.870693  0.871223  0.872507  ...  0.984336  0.978750  0.980079    1
2    Irlanda  0.773121  0.777016  0.782391  ...  0.954173  0.958234  0.961968    2
3     Suecia  0.821292  0.823135  0.826142  ...  0.949389  0.950488  0.959108    3
4   Islandia  0.806552  0.819830  0.822983  ...  0.953697  0.955974  0.959040    4
5    Noruega  0.848578  0.854332  0.860797  ...  0.954415  0.956131  0.957642    5

[5 rows x 32 columns]

Ahora procedemos a realizar el ultimo analisis exploratorio

In [ ]:
# Cabecera del DataFrame
IDH_final.head()

     Country      1990      1991      1992  ...      2017      2018      2019  Top
1  Australia  0.870693  0.871223  0.872507  ...  0.984336  0.978750  0.980079    1
2    Irlanda  0.773121  0.777016  0.782391  ...  0.954173  0.958234  0.961968    2
3     Suecia  0.821292  0.823135  0.826142  ...  0.949389  0.950488  0.959108    3
4   Islandia  0.806552  0.819830  0.822983  ...  0.953697  0.955974  0.959040    4
5    Noruega  0.848578  0.854332  0.860797  ...  0.954415  0.956131  0.957642    5

[5 rows x 32 columns]

In [ ]:
# Cola del DataFrame
IDH_final.tail()

                      Country      1990      1991  ...      2018      2019  Top
172                      Mali  0.234375  0.241457  ...  0.431067  0.433518  172
173                   Burundi  0.299301  0.302422  ...  0.431241  0.433409  173
174                      Chad  0.233428  0.237697  ...  0.397360  0.397799  174
175  República Centroafricana  0.333983  0.328430  ...  0.394578  0.397197  175
176                     Níger  0.219993  0.223406  ...  0.390611  0.393708  176

[5 rows x 32 columns]

In [ ]:
# Informacion de DataFrame
IDH_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176 entries, 1 to 176
Data columns (total 32 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  176 non-null    object
 1   1990     176 non-null    float64
 2   1991     176 non-null    float64
 3   1992     176 non-null    float64
 4   1993     176 non-null    float64
 5   1994     176 non-null    float64
 6   1995     176 non-null    float64
 7   1996     176 non-null    float64
 8   1997     176 non-null    float64
 9   1998     176 non-null    float64
 10  1999     176 non-null    float64
 11  2000     176 non-null    float64
 12  2001     176 non-null    float64
 13  2002     176 non-null    float64
 14  2003     176 non-null    float64
 15  2004     176 non-null    float64
 16  2005     176 non-null    float64
 17  2006     176 non-null    float64
 18  2007     176 non-null    float64
 19  2008     176 non-null    float64
 20  2009     176 non-null    float64
 21  2010     176 non-null    float64
 22  2011     176 non-null    float64
 23  2012     176 non-null    float64
 24  2013     176 non-null    float64
 25  2014     176 non-null    float64
 26  2015     176 non-null    float64
 27  2016     176 non-null    float64
 28  2017     176 non-null    float64
 29  2018     176 non-null    float64
 30  2019     176 non-null    float64
 31  Top      176 non-null    int64
dtypes: float64(30), int64(1), object(1)
memory usage: 45.4+ KB

In [ ]:
# Dimensiones del DataFrame
IDH_final.shape

(176, 32)

Teniendo _176 filas_ y _32 columnas_.

## Consultas al DataFrame.

Por ultimo en el analisis se apoyo de una herramienta denominada __widgets__ para poder hacer una analisis exploratorio un poco mas interactivo.

In [ ]:
# Importaciones necesarias

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [ ]:
@interact
def show_articles_more_than(Campo=[str(x) for x in list(range(1990,2020))],x=(0, 1, 0.01)):
    return IDH_final.loc[IDH_final[Campo] > x,['Country',Campo]]

interactive(children=(Dropdown(description='Campo', options=('1990', '1991', '1992', '1993', '1994', '1995', '…

In [67]:
clasificacion_paises = ["High Human Development","Medium Human Development","Medium Human Development","Low Human Development"]

@interact
def show_articles_more_than(Campo=[str(x) for x in list(range(1990,2020))],Clasificacion=clasificacion_paises):
    if Clasificacion =="High Human Development":
        return IDH_final.loc[IDH_final[Campo] > 0.80,['Country',Campo]]
    elif Clasificacion == "Medium Human Development":
        return IDH_final.loc[IDH_final[Campo] > 0.70,['Country',Campo]]
    elif Clasificacion == "Medium Human Development":
        return IDH_final.loc[IDH_final[Campo] > 0.50,['Country',Campo]]
    elif Clasificacion == "Low Human Development":
        return IDH_final.loc[0.50 > IDH_final[Campo],['Country',Campo]]

interactive(children=(Dropdown(description='Campo', options=('1990', '1991', '1992', '1993', '1994', '1995', '…

Ahora se almacenan los resultados en un documento __.csv__.

In [68]:
IDH_final.to_csv('HDI_data.csv', index=False)