<!-- PROJECT LOGO -->
<br/>
<p align="center">
    <img src="https://raw.githubusercontent.com/Team-17-Bedu/proyecto_python/main/img/icono.png" alt="Logo" width="135" height="135">

  <h3 align="center"><strong>Países con mayor calidad de vida</strong></h3>

  <p align="center">
    Proyecto final para el modulo "Procesamiento de datos con Python"
  </p>
</p>

# Actividad Limpieza del Documento "Life_expectancy_at_birth_(years).csv".

## Acerca del proyecto:

Este proyecto tiene como proposito realizar un analisis de la calidad de vida de ciertos paises, con el fin de determinar cuál de ellos podria ser la mejor opcion para vivir o buscar un empleo, todo esto, haciendo uso de herramientas estadísticas y computacionales, siendo el principal aliado, el lenguaje de programacion Python. 


En este caso se tendra como principal objetivo en calcular el IDH por medio de la documentación proporcionada del __*Human Development Report 2020*__, presente en el siguiente [enlace](http://hdr.undp.org/sites/default/files/hdr2020_technical_notes.pdf). Y con tales resultados justificar nuestro anterior proyecto elaborado en el lenguaje R, el proyecto esta presente en el siguiente [enlace](https://github.com/Team-17-Bedu/proyecto).

## Notas

Algunas consideraciones que se consideraron antes de caragar el documento __*"Life_expectancy_at_birth_(years).csv"*__ . Es que se hizo una exploración manual a los documento .csv. 


En este analisis se observo las siguientes caracteristicas en el documento __*"Life_expectancy_at_birth_(years).csv"*__:

* Contaba con datos extra al principio del documento .csv, como se observa en la siguiente imagen:


![1 Observacion](https://github.com/Team-17-Bedu/proyecto_python/blob/main/img/img1.PNG)
<p align="center">
  <a href="https://github.com/Team-17-Bedu/proyecto_python">
    <img src="https://drive.google.com/uc?export=download&id=1QnFcvVbXZDi83gaH8RupyJNuJSzJuSLU">
  </a>
</p>
<br>

Figura 1. Cabecera original 


* Contaba con datos extra al final del documento .csv, como se observa en la siguiente imagen:


![2 Observacion](https://github.com/Team-17-Bedu/proyecto_python/blob/main/img/img2.PNG)
<p align="center">
  <a href="https://github.com/Team-17-Bedu/proyecto_python">
    <img src="https://drive.google.com/uc?export=download&id=1rxUjLp0viVp_AwHLzFkYRlXldjGlecLp">
  </a>
</p>
<br>

Figura 2. Cola original 

Para ello se decidio de una vez, eliminar esos datos inecesarios del documento __*"Life_expectancy_at_birth_(years).csv"*__, con el fin de no tener problemas al cargar el .csv aun Jupyter Notebook.


## Descripción de la actividad

En esta actividad se pretende hacer un analisis __*"Life_expectancy_at_birth_(years).csv"*__ y una limpieza con el fin de calcular el indice de Salud por pais, para posteriormente calcular el IDH. 
 

En un instante se describiran ciertas actividades realizadas al documento .csv:

1. Se realizaron las importaciones necesarias.

In [2]:
import pandas as pd

In [3]:
access = ('ivan.montiel.c@gmail.com', 'Blackgate74@')

In [4]:
payload = {
    'indicator_id': 69706,
    'auth': access
}

In [5]:
api_url = 'http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php'

In [26]:
requests.get("http://ec2-54-174-131-205.compute-1.amazonaws.com/API/Login.php", auth=('ivan.montiel.c@gmail.com', 'Blackgate74@'))

In [30]:
session = requests.Session()

In [31]:
session.get("http://ec2-54-174-131-205.compute-1.amazonaws.com/API/Login.php", auth=('ivan.montiel.c@gmail.com', 'Blackgate74@'))

In [80]:
data = session.get('http://ec2-54-174-131-205.compute-1.amazonaws.com/API/HDRO_API.php/indicator_id=137506/structure=yic')

In [81]:
df_1 = data.json()
df_1.keys()

dict_keys(['indicator_value', 'country_name', 'indicator_name'])

In [82]:
df_1['indicator_value'].keys()

dict_keys(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'])

In [83]:
data = data.json()

In [84]:
import pandas as pd

df = pd.DataFrame.from_dict(data)
df

,indicator_value,country_name,indicator_name
1990,"{'137506': {'AFG': 0.302, 'ALB': 0.65, 'ARE': ...",NaN,NaN
1991,"{'137506': {'AFG': 0.307, 'ALB': 0.631, 'ARE':...",NaN,NaN
1992,"{'137506': {'AFG': 0.316, 'ALB': 0.615, 'ARE':...",NaN,NaN
1993,"{'137506': {'AFG': 0.312, 'ALB': 0.618, 'ARE':...",NaN,NaN
1994,"{'137506': {'AFG': 0.307, 'ALB': 0.624, 'ARE':...",NaN,NaN
...,...,...,...
YEM,NaN,Yemen,NaN
ZAF,NaN,South Africa,NaN
ZMB,NaN,Zambia,NaN
ZWE,NaN,Zimbabwe,NaN
137506,NaN,NaN,Human Development Index (HDI)

In [23]:
requests.get('https://apis.apizaco.tecnm.mx/SIA/?modulo=Login&controlador=Login&accion=index',
auth=('17370745', 'MCI45+it52'))

In [86]:
df_g = pd.DataFrame(data)
df_g

,indicator_value,country_name,indicator_name
1990,"{'137506': {'AFG': 0.302, 'ALB': 0.65, 'ARE': ...",NaN,NaN
1991,"{'137506': {'AFG': 0.307, 'ALB': 0.631, 'ARE':...",NaN,NaN
1992,"{'137506': {'AFG': 0.316, 'ALB': 0.615, 'ARE':...",NaN,NaN
1993,"{'137506': {'AFG': 0.312, 'ALB': 0.618, 'ARE':...",NaN,NaN
1994,"{'137506': {'AFG': 0.307, 'ALB': 0.624, 'ARE':...",NaN,NaN
...,...,...,...
YEM,NaN,Yemen,NaN
ZAF,NaN,South Africa,NaN
ZMB,NaN,Zambia,NaN
ZWE,NaN,Zimbabwe,NaN
137506,NaN,NaN,Human Development Index (HDI)

In [90]:
pd.DataFrame(data['indicator_value']['137506'])

KeyError: '137506'

In [76]:
from flatten_json import flatten_json
from pandas.io.json import json_normalize

flat = flatten_json(data.json()['indicator_value'])
json_normalize(flat)

,AFG_137506_1990,AFG_137506_1991,AFG_137506_1992,AFG_137506_1993,AFG_137506_1994,AFG_137506_1995,AFG_137506_1996,AFG_137506_1997,AFG_137506_1998,AFG_137506_1999,...,ZWE_137506_2010,ZWE_137506_2011,ZWE_137506_2012,ZWE_137506_2013,ZWE_137506_2014,ZWE_137506_2015,ZWE_137506_2016,ZWE_137506_2017,ZWE_137506_2018,ZWE_137506_2019
0,0.302,0.307,0.316,0.312,0.307,0.331,0.335,0.339,0.344,0.348,...,0.482,0.499,0.525,0.537,0.547,0.553,0.558,0.563,0.569,0.571

In [66]:
pd.io.json.json_normalize(df.to_dict('indicator_value'), axis=1)

TypeError: _json_normalize() got an unexpected keyword argument 'axis'