# Actividad Limpieza de los Datasets Relacionados con el Indice de Educación.

## Acerca del proyecto:

Este proyecto tiene como proposito realizar un analisis de la calidad de vida de ciertos paises, con el fin de determinar cuál de ellos podria ser la mejor opcion para vivir o buscar un empleo, todo esto, haciendo uso de herramientas estadísticas y computacionales, siendo el principal aliado, el lenguaje de programacion Python. 


En este caso se tendrá como principal objetivo calcular el **IDH** por medio de la documentación proporcionada por la **UNDP** en el documento [__*Human Development Report 2020*__](http://hdr.undp.org/sites/default/files/hdr2020_technical_notes.pdf). Y con tales resultados justificar nuestro anterior [proyecto](https://github.com/Team-17-Bedu/proyecto) elaborado en el lenguaje R.

## Notas

Una de las consideraciones realizadas antes de cargar los datasets __*"Expected years of schooling (years).csv"*__ y __*"Mean years of schooling (years).csv"*__. Fue que se hizo una exploración manual a los archivos .csv. 


En este analisis se observaron las siguientes peculiaridades en el documento __*"Mean years of schooling (years).csv"*__:

* Contaba con datos extra al principio del documento .csv, como se observa en la siguiente imagen:


![1 Observacion](https://github.com/Team-17-Bedu/proyecto_python/blob/main/img/img1.PNG)
<p align="center">
  <a>
    <img src="https://drive.google.com/uc?export=download&id=1QnFcvVbXZDi83gaH8RupyJNuJSzJuSLU">
  </a>
</p>
<br>

Figura 1. Cabecera original 


* Contaba con datos extra al final del documento .csv, como se observa en la siguiente imagen:


![2 Observacion](https://github.com/Team-17-Bedu/proyecto_python/blob/main/img/img2.PNG)
<p align="center">
  <a>
    <img src="https://drive.google.com/uc?export=download&id=1rxUjLp0viVp_AwHLzFkYRlXldjGlecLp">
  </a>
</p>
<br>

Figura 2. Cola original 

Para ello se decidio, suprimir esos datos inecesarios, con el fin de no tener problemas al cargar el .csv en Jupyter Notebook.


## Descripción de la actividad

En esta actividad se pretende hacer un analisis de los datasets __*"Expected years of schooling (years).csv"*__ y __*"Mean years of schooling (years).csv"*__ y una limpieza con el fin de calcular el indice de Educación por país, para posteriormente calcular el IDH. 
 

En un instante se describiran ciertas actividades realizadas al documento .csv:

## Expectativa de años de escolaridad
1. Se realizaron las importaciones necesarias.

In [2]:
# Importar modulos necesarios
import pandas as pd

2. Lectura del dataset `Expected years of schooling (years).csv` en un `DataFrame` denominado `expectativa`

In [3]:
expectativa = pd.read_csv("Expected years of schooling (years).csv", encoding= "latin1")

3. Obtención de la información del `DataFrame` 
    * Visualización del `DataFrame` resultante (tanto `head` como `tail`)

In [4]:
expectativa

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
0,169,Afghanistan,2.6,NaN,2.9,NaN,3.2,NaN,3.6,NaN,...,10.2,NaN,10.3,NaN,10.1,NaN,10.1,NaN,10.2,a
1,69,Albania,11.6,NaN,11.8,NaN,10.7,NaN,10.1,NaN,...,15.1,NaN,14.8,NaN,14.8,NaN,14.7,NaN,14.7,a
2,91,Algeria,9.6,NaN,9.7,NaN,9.8,NaN,9.8,NaN,...,14.2,NaN,14.2,NaN,14.4,NaN,14.5,NaN,14.6,a
3,36,Andorra,10.8,NaN,10.8,NaN,10.8,NaN,10.8,NaN,...,13.1,NaN,13.3,NaN,13.0,NaN,13.3,NaN,13.3,"a,b"
4,148,Angola,3.4,NaN,3.3,NaN,3.2,NaN,3.7,NaN,...,11.0,NaN,11.4,NaN,11.8,NaN,11.8,NaN,11.8,"a,c"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,113,Venezuela (Bolivarian Republic of),10.5,NaN,10.7,NaN,10.8,NaN,10.8,NaN,...,14.0,NaN,13.6,NaN,12.8,NaN,12.8,NaN,12.8,"a,d"
189,117,Viet Nam,7.8,NaN,8.1,NaN,8.4,NaN,8.7,NaN,...,12.7,NaN,12.7,NaN,12.7,NaN,12.7,NaN,12.7,"a,d"
190,179,Yemen,7.5,NaN,7.5,NaN,7.6,NaN,7.6,NaN,...,8.7,NaN,8.7,NaN,8.7,NaN,8.7,NaN,8.8,"a,d"
191,146,Zambia,7.5,NaN,7.7,NaN,8.0,NaN,8.2,NaN,...,11.1,NaN,11.2,NaN,11.3,NaN,11.4,NaN,11.5,"a,c"
192,150,Zimbabwe,9.8,NaN,10.2,NaN,9.8,NaN,9.8,NaN,...,10.3,NaN,10.4,NaN,10.5,NaN,10.5,NaN,11.0,"a,h"

* Dimensiones del `DataFrame`
    * 192 filas
    * 62 columnas

In [5]:
expectativa.shape

(193, 62)

* Nombre de las columnas

In [6]:
expectativa.columns

Index(['HDI Rank', 'Country', '1990', 'Unnamed: 3', '1991', 'Unnamed: 5',
       '1992', 'Unnamed: 7', '1993', 'Unnamed: 9', '1994', 'Unnamed: 11',
       '1995', 'Unnamed: 13', '1996', 'Unnamed: 15', '1997', 'Unnamed: 17',
       '1998', 'Unnamed: 19', '1999', 'Unnamed: 21', '2000', 'Unnamed: 23',
       '2001', 'Unnamed: 25', '2002', 'Unnamed: 27', '2003', 'Unnamed: 29',
       '2004', 'Unnamed: 31', '2005', 'Unnamed: 33', '2006', 'Unnamed: 35',
       '2007', 'Unnamed: 37', '2008', 'Unnamed: 39', '2009', 'Unnamed: 41',
       '2010', 'Unnamed: 43', '2011', 'Unnamed: 45', '2012', 'Unnamed: 47',
       '2013', 'Unnamed: 49', '2014', 'Unnamed: 51', '2015', 'Unnamed: 53',
       '2016', 'Unnamed: 55', '2017', 'Unnamed: 57', '2018', 'Unnamed: 59',
       '2019', 'Unnamed: 61'],
      dtype='object')

#### Observación
Se tomo la desición de renombrar las columnas, para hacerlas mas comprensibles.

In [7]:
head = {'HDI Rank':'Ranking',
             'Country':'Pais',
             '1990':'1990',
             'Unnamed: 3':'Indice_Educacion_1990',
             '1991':'1991', 
             'Unnamed: 5':'Indice_Educacion_1991',
             '1992':'1992',
             'Unnamed: 7':'Indice_Educacion_1992',
             '1993':'1993',
             'Unnamed: 9':'Indice_Educacion_1993',
             '1994':'1994',
             'Unnamed: 11':'Indice_Educacion_1994',
             '1995':'1995',
             'Unnamed: 13':'Indice_Educacion_1995',
             '1996':'1996',
             'Unnamed: 15':'Indice_Educacion_1996',
             '1997':'1997',
             'Unnamed: 17':'Indice_Educacion_1997',
             '1998':'1998',
             'Unnamed: 19':'Indice_Educacion_1998',
             '1999':'1999',
             'Unnamed: 21':'Indice_Educacion_1999',
             '2000':'2000',
             'Unnamed: 23':'Indice_Educacion_2000',
             '2001':'2001',
             'Unnamed: 25':'Indice_Educacion_2001',
             '2002':'2002',
             'Unnamed: 27':'Indice_Educacion_2002',
             '2003':'2003',
             'Unnamed: 29':'Indice_Educacion_2003',
             '2004':'2004',
             'Unnamed: 31':'Indice_Educacion_2004',
             '2005':'2005',
             'Unnamed: 33':'Indice_Educacion_2005',
             '2006':'2006',
             'Unnamed: 35':'Indice_Educacion_2006',
             '2007':'2007',
             'Unnamed: 37':'Indice_Educacion_2007',
             '2008':'2008',
             'Unnamed: 39':'Indice_Educacion_2008',
             '2009':'2009',
             'Unnamed: 41':'Indice_Educacion_2009',
             '2010':'2010',
             'Unnamed: 43':'Indice_Educacion_2010',
             '2011':'2011',
             'Unnamed: 45':'Indice_Educacion_2011',
             '2012':'2012',
             'Unnamed: 47':'Indice_Educacion_2012',
             '2013':'2013',
             'Unnamed: 49':'Indice_Educacion_2013',
             '2014':'2014',
             'Unnamed: 51':'Indice_Educacion_2014',
             '2015':'2015',
             'Unnamed: 53':'Indice_Educacion_2015',
             '2016':'2016',
             'Unnamed: 55':'Indice_Educacion_2016',
             '2017':'2017',
             'Unnamed: 57':'Indice_Educacion_2017',
             '2018':'2018',
             'Unnamed: 59':'Indice_Educacion_2018',
             '2019':'2019',
             'Unnamed: 61':'Indice_Educacion_2019'}

expectativa = expectativa.rename(columns=head)

#### Resultado del cambio de cabeceras

In [8]:
expectativa.head()

,Ranking,Pais,1990,Indice_Educacion_1990,1991,Indice_Educacion_1991,1992,Indice_Educacion_1992,1993,Indice_Educacion_1993,...,2015,Indice_Educacion_2015,2016,Indice_Educacion_2016,2017,Indice_Educacion_2017,2018,Indice_Educacion_2018,2019,Indice_Educacion_2019
0,169,Afghanistan,2.6,NaN,2.9,NaN,3.2,NaN,3.6,NaN,...,10.2,NaN,10.3,NaN,10.1,NaN,10.1,NaN,10.2,a
1,69,Albania,11.6,NaN,11.8,NaN,10.7,NaN,10.1,NaN,...,15.1,NaN,14.8,NaN,14.8,NaN,14.7,NaN,14.7,a
2,91,Algeria,9.6,NaN,9.7,NaN,9.8,NaN,9.8,NaN,...,14.2,NaN,14.2,NaN,14.4,NaN,14.5,NaN,14.6,a
3,36,Andorra,10.8,NaN,10.8,NaN,10.8,NaN,10.8,NaN,...,13.1,NaN,13.3,NaN,13.0,NaN,13.3,NaN,13.3,"a,b"
4,148,Angola,3.4,NaN,3.3,NaN,3.2,NaN,3.7,NaN,...,11.0,NaN,11.4,NaN,11.8,NaN,11.8,NaN,11.8,"a,c"

### Calculo del indice de expectativa de años de escolaridad por paises

Se explica a continuación como se realizo el calculo del indice de expectativa de años de escolaaridad por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha - \theta}{\gamma - \theta}$$

Donde:

* $\alpha$ : La expectativa de escolaridad en el pais.
* $\theta$ : Es la expectativa minima de años de escolaridad. En el documento __*Human Development Report 2020*__ se usa 0 años como minimo.
* $\gamma$ : Es la expectativa maxima de años de escolaridad. En el documento __*Human Development Report 2020*__ se usa 18 años como maximo.


Este calculo se realizo por cada pais en cada uno de los años.

In [9]:
for year in range(1990, 2020):
    year = str(year)
    indices = []
    for cell in expectativa[year]:
        try:
            indices.append((float(cell) - 0) / (18 - 0))
        except:
            indices.append(0)
    expectativa[f'Indice_Educacion_{year}'] = indices

expectativa = expectativa.drop([str(i) for i in range(1990, 2020)],axis=1)

Resultado del calculo del indice de la expectativa de años de escolaridad por cada país en cada uno de sus periodos.

In [10]:
expectativa.head()

,Ranking,Pais,Indice_Educacion_1990,Indice_Educacion_1991,Indice_Educacion_1992,Indice_Educacion_1993,Indice_Educacion_1994,Indice_Educacion_1995,Indice_Educacion_1996,Indice_Educacion_1997,...,Indice_Educacion_2010,Indice_Educacion_2011,Indice_Educacion_2012,Indice_Educacion_2013,Indice_Educacion_2014,Indice_Educacion_2015,Indice_Educacion_2016,Indice_Educacion_2017,Indice_Educacion_2018,Indice_Educacion_2019
0,169,Afghanistan,0.144444,0.161111,0.177778,0.200000,0.216667,0.233333,0.255556,0.272222,...,0.527778,0.527778,0.555556,0.566667,0.572222,0.566667,0.572222,0.561111,0.561111,0.566667
1,69,Albania,0.644444,0.655556,0.594444,0.561111,0.561111,0.566667,0.566667,0.583333,...,0.722222,0.761111,0.811111,0.827778,0.850000,0.838889,0.822222,0.822222,0.816667,0.816667
2,91,Algeria,0.533333,0.538889,0.544444,0.544444,0.550000,0.544444,0.555556,0.572222,...,0.777778,0.794444,0.772222,0.755556,0.777778,0.788889,0.788889,0.800000,0.805556,0.811111
3,36,Andorra,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,...,0.650000,0.650000,0.750000,0.727778,0.750000,0.727778,0.738889,0.722222,0.738889,0.738889
4,148,Angola,0.188889,0.183333,0.177778,0.205556,0.211111,0.216667,0.222222,0.227778,...,0.477778,0.527778,0.550000,0.572222,0.594444,0.611111,0.633333,0.655556,0.655556,0.655556

## Promedio de años de escolaridad
1. Lectura del dataset `Expected years of schooling (years).csv` en un `DataFrame` denominado `expectativa`

In [11]:
promedio = pd.read_csv("Mean years of schooling (years).csv")

2. Obtención de la información del `DataFrame` 
    * Visualización del `DataFrame` resultante (tanto `head` como `tail`)

In [12]:
promedio

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
0,169,Afghanistan,1.5,NaN,1.6,NaN,1.6,NaN,1.7,NaN,...,3.6,NaN,3.6,NaN,3.8,NaN,3.9,NaN,3.9,"a,b"
1,69,Albania,7.8,NaN,7.8,NaN,7.8,NaN,7.8,NaN,...,10.0,NaN,10.0,NaN,10.1,NaN,10.1,NaN,10.1,"b,c"
2,91,Algeria,3.6,NaN,3.8,NaN,4.0,NaN,4.3,NaN,...,7.9,NaN,7.9,NaN,8.0,NaN,8.0,NaN,8.0,"b,d"
3,36,Andorra,..,NaN,..,NaN,..,NaN,..,NaN,...,10.6,NaN,10.6,NaN,10.5,NaN,10.5,NaN,10.5,b
4,148,Angola,..,NaN,..,NaN,..,NaN,..,NaN,...,5.0,NaN,5.1,NaN,5.1,NaN,5.2,NaN,5.2,"b,c"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,113,Venezuela (Bolivarian Republic of),4.6,NaN,4.8,NaN,5.0,NaN,5.1,NaN,...,10.1,NaN,10.3,NaN,10.3,NaN,10.3,NaN,10.3,b
186,117,Viet Nam,3.9,NaN,4.1,NaN,4.2,NaN,4.3,NaN,...,8.0,NaN,8.1,NaN,8.2,NaN,8.2,NaN,8.3,"a,b"
187,179,Yemen,0.3,NaN,0.4,NaN,0.4,NaN,0.5,NaN,...,3.0,NaN,3.0,NaN,3.0,NaN,3.2,NaN,3.2,"a,b"
188,146,Zambia,4.7,NaN,5.0,NaN,5.2,NaN,5.5,NaN,...,6.9,NaN,7.0,NaN,7.1,NaN,7.1,NaN,7.2,"b,c"
189,150,Zimbabwe,4.5,NaN,4.7,NaN,4.9,NaN,5.1,NaN,...,8.2,NaN,8.3,NaN,8.3,NaN,8.4,NaN,8.5,b

* Dimensiones del `DataFrame`
    * 190 filas
    * 62 columnas

In [13]:
promedio.shape

(190, 62)

* Nombre de las columnas

In [14]:
promedio.columns

Index(['HDI Rank', 'Country', '1990', 'Unnamed: 3', '1991', 'Unnamed: 5',
       '1992', 'Unnamed: 7', '1993', 'Unnamed: 9', '1994', 'Unnamed: 11',
       '1995', 'Unnamed: 13', '1996', 'Unnamed: 15', '1997', 'Unnamed: 17',
       '1998', 'Unnamed: 19', '1999', 'Unnamed: 21', '2000', 'Unnamed: 23',
       '2001', 'Unnamed: 25', '2002', 'Unnamed: 27', '2003', 'Unnamed: 29',
       '2004', 'Unnamed: 31', '2005', 'Unnamed: 33', '2006', 'Unnamed: 35',
       '2007', 'Unnamed: 37', '2008', 'Unnamed: 39', '2009', 'Unnamed: 41',
       '2010', 'Unnamed: 43', '2011', 'Unnamed: 45', '2012', 'Unnamed: 47',
       '2013', 'Unnamed: 49', '2014', 'Unnamed: 51', '2015', 'Unnamed: 53',
       '2016', 'Unnamed: 55', '2017', 'Unnamed: 57', '2018', 'Unnamed: 59',
       '2019', 'Unnamed: 61'],
      dtype='object')

#### Observación
Se tomo la desición de renombrar las columnas, para hacerlas mas comprensibles.

In [15]:
head = {'HDI Rank':'Ranking',
             'Country':'Pais',
             '1990':'1990',
             'Unnamed: 3':'Indice_Promedio_Edu_1990',
             '1991':'1991', 
             'Unnamed: 5':'Indice_Promedio_Edu_1991',
             '1992':'1992',
             'Unnamed: 7':'Indice_Promedio_Edu_1992',
             '1993':'1993',
             'Unnamed: 9':'Indice_Promedio_Edu_1993',
             '1994':'1994',
             'Unnamed: 11':'Indice_Promedio_Edu_1994',
             '1995':'1995',
             'Unnamed: 13':'Indice_Promedio_Edu_1995',
             '1996':'1996',
             'Unnamed: 15':'Indice_Promedio_Edu_1996',
             '1997':'1997',
             'Unnamed: 17':'Indice_Promedio_Edu_1997',
             '1998':'1998',
             'Unnamed: 19':'Indice_Promedio_Edu_1998',
             '1999':'1999',
             'Unnamed: 21':'Indice_Promedio_Edu_1999',
             '2000':'2000',
             'Unnamed: 23':'Indice_Promedio_Edu_2000',
             '2001':'2001',
             'Unnamed: 25':'Indice_Promedio_Edu_2001',
             '2002':'2002',
             'Unnamed: 27':'Indice_Promedio_Edu_2002',
             '2003':'2003',
             'Unnamed: 29':'Indice_Promedio_Edu_2003',
             '2004':'2004',
             'Unnamed: 31':'Indice_Promedio_Edu_2004',
             '2005':'2005',
             'Unnamed: 33':'Indice_Promedio_Edu_2005',
             '2006':'2006',
             'Unnamed: 35':'Indice_Promedio_Edu_2006',
             '2007':'2007',
             'Unnamed: 37':'Indice_Promedio_Edu_2007',
             '2008':'2008',
             'Unnamed: 39':'Indice_Promedio_Edu_2008',
             '2009':'2009',
             'Unnamed: 41':'Indice_Promedio_Edu_2009',
             '2010':'2010',
             'Unnamed: 43':'Indice_Promedio_Edu_2010',
             '2011':'2011',
             'Unnamed: 45':'Indice_Promedio_Edu_2011',
             '2012':'2012',
             'Unnamed: 47':'Indice_Promedio_Edu_2012',
             '2013':'2013',
             'Unnamed: 49':'Indice_Promedio_Edu_2013',
             '2014':'2014',
             'Unnamed: 51':'Indice_Promedio_Edu_2014',
             '2015':'2015',
             'Unnamed: 53':'Indice_Promedio_Edu_2015',
             '2016':'2016',
             'Unnamed: 55':'Indice_Promedio_Edu_2016',
             '2017':'2017',
             'Unnamed: 57':'Indice_Promedio_Edu_2017',
             '2018':'2018',
             'Unnamed: 59':'Indice_Promedio_Edu_2018',
             '2019':'2019',
             'Unnamed: 61':'Indice_Promedio_Edu_2019'}

promedio = promedio.rename(columns=head)

#### Resultado del cambio de cabeceras

In [16]:
promedio.head()

,Ranking,Pais,1990,Indice_Promedio_Edu_1990,1991,Indice_Promedio_Edu_1991,1992,Indice_Promedio_Edu_1992,1993,Indice_Promedio_Edu_1993,...,2015,Indice_Promedio_Edu_2015,2016,Indice_Promedio_Edu_2016,2017,Indice_Promedio_Edu_2017,2018,Indice_Promedio_Edu_2018,2019,Indice_Promedio_Edu_2019
0,169,Afghanistan,1.5,NaN,1.6,NaN,1.6,NaN,1.7,NaN,...,3.6,NaN,3.6,NaN,3.8,NaN,3.9,NaN,3.9,"a,b"
1,69,Albania,7.8,NaN,7.8,NaN,7.8,NaN,7.8,NaN,...,10.0,NaN,10.0,NaN,10.1,NaN,10.1,NaN,10.1,"b,c"
2,91,Algeria,3.6,NaN,3.8,NaN,4.0,NaN,4.3,NaN,...,7.9,NaN,7.9,NaN,8.0,NaN,8.0,NaN,8.0,"b,d"
3,36,Andorra,..,NaN,..,NaN,..,NaN,..,NaN,...,10.6,NaN,10.6,NaN,10.5,NaN,10.5,NaN,10.5,b
4,148,Angola,..,NaN,..,NaN,..,NaN,..,NaN,...,5.0,NaN,5.1,NaN,5.1,NaN,5.2,NaN,5.2,"b,c"

### Calculo del indice de promedio de años de escolaridad por país

Se explica a continuación como se realizo el calculo del indice de promedio de años de escolaridad por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha - \theta}{\gamma - \theta}$$

Donde:

* $\alpha$ : El promedio de años de escolaridad en el pais.
* $\theta$ : Es la expectativa minima del promedio de años de escolaridad. En el documento __*Human Development Report 2020*__ se usa 0 años como minimo.
* $\gamma$ : Es la expectativa maxima del promedio de años de escolaridad. En el documento __*Human Development Report 2020*__ se usa 15 años como maximo.


Este calculo se realizo por cada pais en cada uno de los años.

In [17]:
import numpy as np

for year in range(1990, 2020):
    year = str(year)
    indices = []
    for cell in promedio[year]:
        try:
            indices.append((float(cell) - 0) / (15 - 0))
        except:
            indices.append(0)
    promedio[f'Indice_Promedio_Edu_{year}'] = indices

promedio = promedio.drop([str(i) for i in range(1990, 2020)], axis=1)

Resultado del calculo del indice del promedio de años de escolaridad por cada país en cada uno de sus periodos.

In [18]:
promedio.head()

,Ranking,Pais,Indice_Promedio_Edu_1990,Indice_Promedio_Edu_1991,Indice_Promedio_Edu_1992,Indice_Promedio_Edu_1993,Indice_Promedio_Edu_1994,Indice_Promedio_Edu_1995,Indice_Promedio_Edu_1996,Indice_Promedio_Edu_1997,...,Indice_Promedio_Edu_2010,Indice_Promedio_Edu_2011,Indice_Promedio_Edu_2012,Indice_Promedio_Edu_2013,Indice_Promedio_Edu_2014,Indice_Promedio_Edu_2015,Indice_Promedio_Edu_2016,Indice_Promedio_Edu_2017,Indice_Promedio_Edu_2018,Indice_Promedio_Edu_2019
0,169,Afghanistan,0.10,0.106667,0.106667,0.113333,0.12,0.126667,0.126667,0.133333,...,0.213333,0.220000,0.226667,0.233333,0.233333,0.240000,0.240000,0.253333,0.260000,0.260000
1,69,Albania,0.52,0.520000,0.520000,0.520000,0.52,0.533333,0.546667,0.553333,...,0.620000,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.673333,0.673333,0.673333
2,91,Algeria,0.24,0.253333,0.266667,0.286667,0.30,0.313333,0.333333,0.346667,...,0.473333,0.493333,0.506667,0.520000,0.526667,0.526667,0.526667,0.533333,0.533333,0.533333
3,36,Andorra,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.693333,0.693333,0.693333,0.700000,0.700000,0.706667,0.706667,0.700000,0.700000,0.700000
4,148,Angola,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.313333,0.313333,0.320000,0.326667,0.326667,0.333333,0.340000,0.340000,0.346667,0.346667

## Calculo del Indice de Educacion

1. Creación de un `DataFrame` vacío para almacenar todos los resultados del calculo

In [19]:
header = ['Pais']
indices = pd.DataFrame({}, columns=header)

### Calculo del indice de Educación por país

Se explica a continuación como se realizo el calculo del indice de educación por país.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha + \beta}{2}$$

Donde:

* $\alpha$ : El indice de la expectativa de años de escolaridad en el pais.
* $\beta$ : El indice del promedio de años de escolaridad en el país

Este calculo se realizo por cada pais en cada uno de los años.

In [20]:
import numpy as np


def calcular_indice(_pais, expect, prom):
    dicci = {
        "Pais": _pais
    }
    prom, expect = prom[0][2:], expect[0][2:]
    indice = [(float(prom[i]) + float(expect[i])) / 2 for i in range(0, len(prom))]

    for i in range(1990, 2020):
        dicci[str(i)] = indice[i - 1990]
    return dicci


for country in promedio["Pais"]:
    expect = expectativa.loc[expectativa.Pais == country].to_numpy()
    prom = promedio.loc[promedio.Pais == country].to_numpy()
    if len(expect) > 0 and len(prom) > 0:
        indices = indices.append(calcular_indice(country, expect, prom), ignore_index= True)

Resultado del calculo del indice de educción por cada país en cada uno de sus periodos.

In [21]:
indices.head()

,Pais,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,0.122222,0.133889,0.142222,0.156667,0.168333,0.180000,0.191111,0.202778,0.211111,...,0.370556,0.373889,0.391111,0.400000,0.402778,0.403333,0.406111,0.407222,0.410556,0.413333
1,Albania,0.582222,0.587778,0.557222,0.540556,0.540556,0.550000,0.556667,0.568333,0.580556,...,0.671111,0.713889,0.738889,0.747222,0.758333,0.752778,0.744444,0.747778,0.745000,0.745000
2,Algeria,0.386667,0.396111,0.405556,0.415556,0.425000,0.428889,0.444444,0.459444,0.471667,...,0.625556,0.643889,0.639444,0.637778,0.652222,0.657778,0.657778,0.666667,0.669444,0.672222
3,Andorra,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000,...,0.671667,0.671667,0.721667,0.713889,0.725000,0.717222,0.722778,0.711111,0.719444,0.719444
4,Angola,0.094444,0.091667,0.088889,0.102778,0.105556,0.108333,0.111111,0.113889,0.116667,...,0.395556,0.420556,0.435000,0.449444,0.460556,0.472222,0.486667,0.497778,0.501111,0.501111

## Almacenamientos de los resultados obtenidos

In [22]:
indices.to_csv("Indice_educacion.csv", index=False)