# Limpieza de los `DataFrames` relacionados con educación
## Expectativa de años de escolaridad

In [151]:
import pandas as pd
from scripts.translate import *

In [152]:
expectativa = get_df_translated("Expected years of schooling (years).csv")

In [153]:
expectativa.head()

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
0,169,Afganistán,2.6,NaN,2.9,NaN,3.2,NaN,3.6,NaN,...,10.2,NaN,10.3,NaN,10.1,NaN,10.1,NaN,10.2,a
1,69,Albania,11.6,NaN,11.8,NaN,10.7,NaN,10.1,NaN,...,15.1,NaN,14.8,NaN,14.8,NaN,14.7,NaN,14.7,a
2,91,Argelia,9.6,NaN,9.7,NaN,9.8,NaN,9.8,NaN,...,14.2,NaN,14.2,NaN,14.4,NaN,14.5,NaN,14.6,a
3,36,Andorra,10.8,NaN,10.8,NaN,10.8,NaN,10.8,NaN,...,13.1,NaN,13.3,NaN,13.0,NaN,13.3,NaN,13.3,"a,b"
4,148,Angola,3.4,NaN,3.3,NaN,3.2,NaN,3.7,NaN,...,11.0,NaN,11.4,NaN,11.8,NaN,11.8,NaN,11.8,"a,c"

In [154]:
expectativa.tail()

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
188,113,Venezuela (República Bolivariana de),10.5,NaN,10.7,NaN,10.8,NaN,10.8,NaN,...,14.0,NaN,13.6,NaN,12.8,NaN,12.8,NaN,12.8,"a,d"
189,117,Vietnam,7.8,NaN,8.1,NaN,8.4,NaN,8.7,NaN,...,12.7,NaN,12.7,NaN,12.7,NaN,12.7,NaN,12.7,"a,d"
190,179,Yemen,7.5,NaN,7.5,NaN,7.6,NaN,7.6,NaN,...,8.7,NaN,8.7,NaN,8.7,NaN,8.7,NaN,8.8,"a,d"
191,146,Zambia,7.5,NaN,7.7,NaN,8.0,NaN,8.2,NaN,...,11.1,NaN,11.2,NaN,11.3,NaN,11.4,NaN,11.5,"a,c"
192,150,Zimbabue,9.8,NaN,10.2,NaN,9.8,NaN,9.8,NaN,...,10.3,NaN,10.4,NaN,10.5,NaN,10.5,NaN,11.0,"a,h"

In [106]:
expectativa.shape

(193, 62)

In [97]:
expectativa.columns

Index(['HDI Rank', 'Country', '1990', 'Unnamed: 3', '1991', 'Unnamed: 5',
       '1992', 'Unnamed: 7', '1993', 'Unnamed: 9', '1994', 'Unnamed: 11',
       '1995', 'Unnamed: 13', '1996', 'Unnamed: 15', '1997', 'Unnamed: 17',
       '1998', 'Unnamed: 19', '1999', 'Unnamed: 21', '2000', 'Unnamed: 23',
       '2001', 'Unnamed: 25', '2002', 'Unnamed: 27', '2003', 'Unnamed: 29',
       '2004', 'Unnamed: 31', '2005', 'Unnamed: 33', '2006', 'Unnamed: 35',
       '2007', 'Unnamed: 37', '2008', 'Unnamed: 39', '2009', 'Unnamed: 41',
       '2010', 'Unnamed: 43', '2011', 'Unnamed: 45', '2012', 'Unnamed: 47',
       '2013', 'Unnamed: 49', '2014', 'Unnamed: 51', '2015', 'Unnamed: 53',
       '2016', 'Unnamed: 55', '2017', 'Unnamed: 57', '2018', 'Unnamed: 59',
       '2019', 'Unnamed: 61'],
      dtype='object')

In [155]:
head = {'HDI Rank':'Ranking',
             'Country':'Pais',
             '1990':'1990',
             'Unnamed: 3':'Indice_Educacion_1990',
             '1991':'1991', 
             'Unnamed: 5':'Indice_Educacion_1991',
             '1992':'1992',
             'Unnamed: 7':'Indice_Educacion_1992',
             '1993':'1993',
             'Unnamed: 9':'Indice_Educacion_1993',
             '1994':'1994',
             'Unnamed: 11':'Indice_Educacion_1994',
             '1995':'1995',
             'Unnamed: 13':'Indice_Educacion_1995',
             '1996':'1996',
             'Unnamed: 15':'Indice_Educacion_1996',
             '1997':'1997',
             'Unnamed: 17':'Indice_Educacion_1997',
             '1998':'1998',
             'Unnamed: 19':'Indice_Educacion_1998',
             '1999':'1999',
             'Unnamed: 21':'Indice_Educacion_1999',
             '2000':'2000',
             'Unnamed: 23':'Indice_Educacion_2000',
             '2001':'2001',
             'Unnamed: 25':'Indice_Educacion_2001',
             '2002':'2002',
             'Unnamed: 27':'Indice_Educacion_2002',
             '2003':'2003',
             'Unnamed: 29':'Indice_Educacion_2003',
             '2004':'2004',
             'Unnamed: 31':'Indice_Educacion_2004',
             '2005':'2005',
             'Unnamed: 33':'Indice_Educacion_2005',
             '2006':'2006',
             'Unnamed: 35':'Indice_Educacion_2006',
             '2007':'2007',
             'Unnamed: 37':'Indice_Educacion_2007',
             '2008':'2008',
             'Unnamed: 39':'Indice_Educacion_2008',
             '2009':'2009',
             'Unnamed: 41':'Indice_Educacion_2009',
             '2010':'2010',
             'Unnamed: 43':'Indice_Educacion_2010',
             '2011':'2011',
             'Unnamed: 45':'Indice_Educacion_2011',
             '2012':'2012',
             'Unnamed: 47':'Indice_Educacion_2012',
             '2013':'2013',
             'Unnamed: 49':'Indice_Educacion_2013',
             '2014':'2014',
             'Unnamed: 51':'Indice_Educacion_2014',
             '2015':'2015',
             'Unnamed: 53':'Indice_Educacion_2015',
             '2016':'2016',
             'Unnamed: 55':'Indice_Educacion_2016',
             '2017':'2017',
             'Unnamed: 57':'Indice_Educacion_2017',
             '2018':'2018',
             'Unnamed: 59':'Indice_Educacion_2018',
             '2019':'2019',
             'Unnamed: 61':'Indice_Educacion_2019'}

expectativa = expectativa.rename(columns=head)

In [114]:
expectativa = expectativa.fillna(0)

In [115]:
expectativa.head()

,Ranking,Pais,1990,Indice_Educacion_1990,1991,Indice_Educacion_1991,1992,Indice_Educacion_1992,1993,Indice_Educacion_1993,...,2015,Indice_Educacion_2015,2016,Indice_Educacion_2016,2017,Indice_Educacion_2017,2018,Indice_Educacion_2018,2019,Indice_Educacion_2019
0,169,Afganistán,2.6,0.0,2.9,0.0,3.2,0.0,3.6,0.0,...,10.2,0.0,10.3,0.0,10.1,0.0,10.1,0.0,10.2,a
1,69,Albania,11.6,0.0,11.8,0.0,10.7,0.0,10.1,0.0,...,15.1,0.0,14.8,0.0,14.8,0.0,14.7,0.0,14.7,a
2,91,Argelia,9.6,0.0,9.7,0.0,9.8,0.0,9.8,0.0,...,14.2,0.0,14.2,0.0,14.4,0.0,14.5,0.0,14.6,a
3,36,Andorra,10.8,0.0,10.8,0.0,10.8,0.0,10.8,0.0,...,13.1,0.0,13.3,0.0,13.0,0.0,13.3,0.0,13.3,"a,b"
4,148,Angola,3.4,0.0,3.3,0.0,3.2,0.0,3.7,0.0,...,11.0,0.0,11.4,0.0,11.8,0.0,11.8,0.0,11.8,"a,c"

In [116]:
expectativa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                193 non-null    object
 1   Pais                   193 non-null    object
 2   1990                   193 non-null    object
 3   Indice_Educacion_1990  193 non-null    float64
 4   1991                   193 non-null    object
 5   Indice_Educacion_1991  193 non-null    float64
 6   1992                   193 non-null    object
 7   Indice_Educacion_1992  193 non-null    float64
 8   1993                   193 non-null    object
 9   Indice_Educacion_1993  193 non-null    float64
 10  1994                   193 non-null    object
 11  Indice_Educacion_1994  193 non-null    float64
 12  1995                   193 non-null    object
 13  Indice_Educacion_1995  193 non-null    float64
 14  1996                   193 non-null    object
 15  Indice_Educacion_1996  193 non-null    float64
 16  1997                   193 non-null    object
 17  Indice_Educacion_1997  193 non-null    float64
 18  1998                   193 non-null    object
 19  Indice_Educacion_1998  193 non-null    float64
 20  1999                   193 non-null    object
 21  Indice_Educacion_1999  193 non-null    float64
 22  2000                   193 non-null    object
 23  Indice_Educacion_2000  193 non-null    float64
 24  2001                   193 non-null    object
 25  Indice_Educacion_2001  193 non-null    float64
 26  2002                   193 non-null    object
 27  Indice_Educacion_2002  193 non-null    float64
 28  2003                   193 non-null    object
 29  Indice_Educacion_2003  193 non-null    float64
 30  2004                   193 non-null    object
 31  Indice_Educacion_2004  193 non-null    float64
 32  2005                   193 non-null    object
 33  Indice_Educacion_2005  193 non-null    float64
 34  2006                   193 non-null    object
 35  Indice_Educacion_2006  193 non-null    float64
 36  2007                   193 non-null    object
 37  Indice_Educacion_2007  193 non-null    float64
 38  2008                   193 non-null    object
 39  Indice_Educacion_2008  193 non-null    float64
 40  2009                   193 non-null    object
 41  Indice_Educacion_2009  193 non-null    float64
 42  2010                   193 non-null    object
 43  Indice_Educacion_2010  193 non-null    float64
 44  2011                   193 non-null    object
 45  Indice_Educacion_2011  193 non-null    float64
 46  2012                   193 non-null    object
 47  Indice_Educacion_2012  193 non-null    float64
 48  2013                   193 non-null    object
 49  Indice_Educacion_2013  193 non-null    float64
 50  2014                   193 non-null    object
 51  Indice_Educacion_2014  193 non-null    float64
 52  2015                   193 non-null    object
 53  Indice_Educacion_2015  193 non-null    float64
 54  2016                   193 non-null    object
 55  Indice_Educacion_2016  193 non-null    float64
 56  2017                   193 non-null    float64
 57  Indice_Educacion_2017  193 non-null    float64
 58  2018                   193 non-null    float64
 59  Indice_Educacion_2018  193 non-null    float64
 60  2019                   193 non-null    float64
 61  Indice_Educacion_2019  193 non-null    object
dtypes: float64(32), object(30)
memory usage: 93.6+ KB

### Calculo del indice de expectativa de años de escolaridad por paises

Se explica a continuación como se realizo el calculo del indice de salud por pais.
Primeramente se presenta lo que es la formula que se uso:

$$\Huge\Huge\frac{\alpha - \theta}{\gamma - \theta}$$

Donde:

* $\alpha$ : La expectativa de escolaridad en el pais.
* $\theta$ : Es la expectativa minima de años de escolaridad. En el documento __*Human Development Report 2020*__ se usa 0 años como minimo.
* $\gamma$ : Es la expectativa maxima de años de escolaridad. En el documento __*Human Development Report 2020*__ se usa 18 años como maximo.


Este calculo se realizo por cada pais en cada uno de los años. Tal calculo permitia entender por medio de un indicador la situación en cuanto a esperanza de vida de un pais.

In [156]:
for year in range(1990, 2020):
    year = str(year)
    indices = []
    for cell in expectativa[year]:
        try:
            indices.append((float(cell) - 0) / (18 - 0))
        except:
            indices.append(0)
    expectativa[f'Indice_Educacion_{year}'] = indices

expectativa = expectativa.drop([str(i) for i in range(1990, 2020)],axis=1)

In [157]:
expectativa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ranking                193 non-null    object
 1   Pais                   193 non-null    object
 2   Indice_Educacion_1990  193 non-null    float64
 3   Indice_Educacion_1991  193 non-null    float64
 4   Indice_Educacion_1992  193 non-null    float64
 5   Indice_Educacion_1993  193 non-null    float64
 6   Indice_Educacion_1994  193 non-null    float64
 7   Indice_Educacion_1995  193 non-null    float64
 8   Indice_Educacion_1996  193 non-null    float64
 9   Indice_Educacion_1997  193 non-null    float64
 10  Indice_Educacion_1998  193 non-null    float64
 11  Indice_Educacion_1999  193 non-null    float64
 12  Indice_Educacion_2000  193 non-null    float64
 13  Indice_Educacion_2001  193 non-null    float64
 14  Indice_Educacion_2002  193 non-null    float64
 15  Indice_Educacion_2003  193 non-null    float64
 16  Indice_Educacion_2004  193 non-null    float64
 17  Indice_Educacion_2005  193 non-null    float64
 18  Indice_Educacion_2006  193 non-null    float64
 19  Indice_Educacion_2007  193 non-null    float64
 20  Indice_Educacion_2008  193 non-null    float64
 21  Indice_Educacion_2009  193 non-null    float64
 22  Indice_Educacion_2010  193 non-null    float64
 23  Indice_Educacion_2011  193 non-null    float64
 24  Indice_Educacion_2012  193 non-null    float64
 25  Indice_Educacion_2013  193 non-null    float64
 26  Indice_Educacion_2014  193 non-null    float64
 27  Indice_Educacion_2015  193 non-null    float64
 28  Indice_Educacion_2016  193 non-null    float64
 29  Indice_Educacion_2017  193 non-null    float64
 30  Indice_Educacion_2018  193 non-null    float64
 31  Indice_Educacion_2019  193 non-null    float64
dtypes: float64(30), object(2)
memory usage: 48.4+ KB

## Promedio de años de escolaridad

In [158]:
promedio = get_df_translated("Mean years of schooling (years).csv")

In [159]:
promedio.head()

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
0,169,Afganistán,1.5,NaN,1.6,NaN,1.6,NaN,1.7,NaN,...,3.6,NaN,3.6,NaN,3.8,NaN,3.9,NaN,3.9,"a,b"
1,69,Albania,7.8,NaN,7.8,NaN,7.8,NaN,7.8,NaN,...,10.0,NaN,10.0,NaN,10.1,NaN,10.1,NaN,10.1,"b,c"
2,91,Argelia,3.6,NaN,3.8,NaN,4.0,NaN,4.3,NaN,...,7.9,NaN,7.9,NaN,8.0,NaN,8.0,NaN,8.0,"b,d"
3,36,Andorra,..,NaN,..,NaN,..,NaN,..,NaN,...,10.6,NaN,10.6,NaN,10.5,NaN,10.5,NaN,10.5,b
4,148,Angola,..,NaN,..,NaN,..,NaN,..,NaN,...,5.0,NaN,5.1,NaN,5.1,NaN,5.2,NaN,5.2,"b,c"

In [65]:
promedio.tail()

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
185,113,Venezuela (República Bolivariana de),4.6,NaN,4.8,NaN,5.0,NaN,5.1,NaN,...,10.1,NaN,10.3,NaN,10.3,NaN,10.3,NaN,10.3,b
186,117,Vietnam,3.9,NaN,4.1,NaN,4.2,NaN,4.3,NaN,...,8.0,NaN,8.1,NaN,8.2,NaN,8.2,NaN,8.3,"a,b"
187,179,Yemen,0.3,NaN,0.4,NaN,0.4,NaN,0.5,NaN,...,3.0,NaN,3.0,NaN,3.0,NaN,3.2,NaN,3.2,"a,b"
188,146,Zambia,4.7,NaN,5.0,NaN,5.2,NaN,5.5,NaN,...,6.9,NaN,7.0,NaN,7.1,NaN,7.1,NaN,7.2,"b,c"
189,150,Zimbabue,4.5,NaN,4.7,NaN,4.9,NaN,5.1,NaN,...,8.2,NaN,8.3,NaN,8.3,NaN,8.4,NaN,8.5,b

In [66]:
promedio.shape

(190, 62)

In [130]:
promedio.columns

Index(['Ranking', 'Pais', '1990', 'Indice_Promedio_Edu_1990', '1991',
       'Indice_Promedio_Edu_1991', '1992', 'Indice_Promedio_Edu_1992', '1993',
       'Indice_Promedio_Edu_1993', '1994', 'Indice_Promedio_Edu_1994', '1995',
       'Indice_Promedio_Edu_1995', '1996', 'Indice_Promedio_Edu_1996', '1997',
       'Indice_Promedio_Edu_1997', '1998', 'Indice_Promedio_Edu_1998', '1999',
       'Indice_Promedio_Edu_1999', '2000', 'Indice_Promedio_Edu_2000', '2001',
       'Indice_Promedio_Edu_2001', '2002', 'Indice_Promedio_Edu_2002', '2003',
       'Indice_Promedio_Edu_2003', '2004', 'Indice_Promedio_Edu_2004', '2005',
       'Indice_Promedio_Edu_2005', '2006', 'Indice_Promedio_Edu_2006', '2007',
       'Indice_Promedio_Edu_2007', '2008', 'Indice_Promedio_Edu_2008', '2009',
       'Indice_Promedio_Edu_2009', '2010', 'Indice_Promedio_Edu_2010', '2011',
       'Indice_Promedio_Edu_2011', '2012', 'Indice_Promedio_Edu_2012', '2013',
       'Indice_Promedio_Edu_2013', '2014', 'Indice_Promedio_Edu_2014', '2015',
       'Indice_Promedio_Edu_2015', '2016', 'Indice_Promedio_Edu_2016', '2017',
       'Indice_Promedio_Edu_2017', '2018', 'Indice_Promedio_Edu_2018', '2019',
       'Indice_Promedio_Edu_2019'],
      dtype='object')

In [160]:
head = {'HDI Rank':'Ranking',
             'Country':'Pais',
             '1990':'1990',
             'Unnamed: 3':'Indice_Promedio_Edu_1990',
             '1991':'1991', 
             'Unnamed: 5':'Indice_Promedio_Edu_1991',
             '1992':'1992',
             'Unnamed: 7':'Indice_Promedio_Edu_1992',
             '1993':'1993',
             'Unnamed: 9':'Indice_Promedio_Edu_1993',
             '1994':'1994',
             'Unnamed: 11':'Indice_Promedio_Edu_1994',
             '1995':'1995',
             'Unnamed: 13':'Indice_Promedio_Edu_1995',
             '1996':'1996',
             'Unnamed: 15':'Indice_Promedio_Edu_1996',
             '1997':'1997',
             'Unnamed: 17':'Indice_Promedio_Edu_1997',
             '1998':'1998',
             'Unnamed: 19':'Indice_Promedio_Edu_1998',
             '1999':'1999',
             'Unnamed: 21':'Indice_Promedio_Edu_1999',
             '2000':'2000',
             'Unnamed: 23':'Indice_Promedio_Edu_2000',
             '2001':'2001',
             'Unnamed: 25':'Indice_Promedio_Edu_2001',
             '2002':'2002',
             'Unnamed: 27':'Indice_Promedio_Edu_2002',
             '2003':'2003',
             'Unnamed: 29':'Indice_Promedio_Edu_2003',
             '2004':'2004',
             'Unnamed: 31':'Indice_Promedio_Edu_2004',
             '2005':'2005',
             'Unnamed: 33':'Indice_Promedio_Edu_2005',
             '2006':'2006',
             'Unnamed: 35':'Indice_Promedio_Edu_2006',
             '2007':'2007',
             'Unnamed: 37':'Indice_Promedio_Edu_2007',
             '2008':'2008',
             'Unnamed: 39':'Indice_Promedio_Edu_2008',
             '2009':'2009',
             'Unnamed: 41':'Indice_Promedio_Edu_2009',
             '2010':'2010',
             'Unnamed: 43':'Indice_Promedio_Edu_2010',
             '2011':'2011',
             'Unnamed: 45':'Indice_Promedio_Edu_2011',
             '2012':'2012',
             'Unnamed: 47':'Indice_Promedio_Edu_2012',
             '2013':'2013',
             'Unnamed: 49':'Indice_Promedio_Edu_2013',
             '2014':'2014',
             'Unnamed: 51':'Indice_Promedio_Edu_2014',
             '2015':'2015',
             'Unnamed: 53':'Indice_Promedio_Edu_2015',
             '2016':'2016',
             'Unnamed: 55':'Indice_Promedio_Edu_2016',
             '2017':'2017',
             'Unnamed: 57':'Indice_Promedio_Edu_2017',
             '2018':'2018',
             'Unnamed: 59':'Indice_Promedio_Edu_2018',
             '2019':'2019',
             'Unnamed: 61':'Indice_Promedio_Edu_2019'}

promedio = promedio.rename(columns=head)

In [161]:
promedio = promedio.fillna(0)

In [77]:
promedio.head()

,Ranking,Pais,1990,Indice_Promedio_Edu_1990,1991,Indice_Promedio_Edu_1991,1992,Indice_Promedio_Edu_1992,1993,Indice_Promedio_Edu_1993,...,Indice_Educacion_2010,Indice_Educacion_2011,Indice_Educacion_2012,Indice_Educacion_2013,Indice_Educacion_2014,Indice_Educacion_2015,Indice_Educacion_2016,Indice_Educacion_2017,Indice_Educacion_2018,Indice_Educacion_2019
0,169,Afganistán,1.5,0.0,1.6,0.0,1.6,0.0,1.7,0.0,...,0.213333,0.220000,0.226667,0.233333,0.233333,0.240000,0.240000,0.253333,0.260000,0.260000
1,69,Albania,7.8,0.0,7.8,0.0,7.8,0.0,7.8,0.0,...,0.620000,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.673333,0.673333,0.673333
2,91,Argelia,3.6,0.0,3.8,0.0,4.0,0.0,4.3,0.0,...,0.473333,0.493333,0.506667,0.520000,0.526667,0.526667,0.526667,0.533333,0.533333,0.533333
3,36,Andorra,..,0.0,..,0.0,..,0.0,..,0.0,...,0.693333,0.693333,0.693333,0.700000,0.700000,0.706667,0.706667,0.700000,0.700000,0.700000
4,148,Angola,..,0.0,..,0.0,..,0.0,..,0.0,...,0.313333,0.313333,0.320000,0.326667,0.326667,0.333333,0.340000,0.340000,0.346667,0.346667

In [162]:
promedio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 62 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ranking                   190 non-null    object
 1   Pais                      190 non-null    object
 2   1990                      190 non-null    object
 3   Indice_Promedio_Edu_1990  190 non-null    float64
 4   1991                      190 non-null    object
 5   Indice_Promedio_Edu_1991  190 non-null    float64
 6   1992                      190 non-null    object
 7   Indice_Promedio_Edu_1992  190 non-null    float64
 8   1993                      190 non-null    object
 9   Indice_Promedio_Edu_1993  190 non-null    float64
 10  1994                      190 non-null    object
 11  Indice_Promedio_Edu_1994  190 non-null    float64
 12  1995                      190 non-null    object
 13  Indice_Promedio_Edu_1995  190 non-null    float64
 14  1996                      190 non-null    object
 15  Indice_Promedio_Edu_1996  190 non-null    float64
 16  1997                      190 non-null    object
 17  Indice_Promedio_Edu_1997  190 non-null    float64
 18  1998                      190 non-null    object
 19  Indice_Promedio_Edu_1998  190 non-null    float64
 20  1999                      190 non-null    object
 21  Indice_Promedio_Edu_1999  190 non-null    float64
 22  2000                      190 non-null    object
 23  Indice_Promedio_Edu_2000  190 non-null    float64
 24  2001                      190 non-null    object
 25  Indice_Promedio_Edu_2001  190 non-null    float64
 26  2002                      190 non-null    object
 27  Indice_Promedio_Edu_2002  190 non-null    float64
 28  2003                      190 non-null    object
 29  Indice_Promedio_Edu_2003  190 non-null    float64
 30  2004                      190 non-null    object
 31  Indice_Promedio_Edu_2004  190 non-null    float64
 32  2005                      190 non-null    object
 33  Indice_Promedio_Edu_2005  190 non-null    float64
 34  2006                      190 non-null    object
 35  Indice_Promedio_Edu_2006  190 non-null    float64
 36  2007                      190 non-null    object
 37  Indice_Promedio_Edu_2007  190 non-null    float64
 38  2008                      190 non-null    object
 39  Indice_Promedio_Edu_2008  190 non-null    float64
 40  2009                      190 non-null    object
 41  Indice_Promedio_Edu_2009  190 non-null    float64
 42  2010                      190 non-null    object
 43  Indice_Promedio_Edu_2010  190 non-null    float64
 44  2011                      190 non-null    object
 45  Indice_Promedio_Edu_2011  190 non-null    float64
 46  2012                      190 non-null    object
 47  Indice_Promedio_Edu_2012  190 non-null    float64
 48  2013                      190 non-null    object
 49  Indice_Promedio_Edu_2013  190 non-null    float64
 50  2014                      190 non-null    object
 51  Indice_Promedio_Edu_2014  190 non-null    float64
 52  2015                      190 non-null    object
 53  Indice_Promedio_Edu_2015  190 non-null    float64
 54  2016                      190 non-null    object
 55  Indice_Promedio_Edu_2016  190 non-null    float64
 56  2017                      190 non-null    object
 57  Indice_Promedio_Edu_2017  190 non-null    float64
 58  2018                      190 non-null    object
 59  Indice_Promedio_Edu_2018  190 non-null    float64
 60  2019                      190 non-null    object
 61  Indice_Promedio_Edu_2019  190 non-null    object
dtypes: float64(29), object(33)
memory usage: 92.2+ KB

In [79]:
promedio.shape

(190, 92)

In [163]:
for year in range(1990, 2020):
    year = str(year)
    indices = []
    for cell in promedio[year]:
        try:
            indices.append((float(cell) - 0) / (15 - 0))
        except:
            indices.append(0)
    promedio[f'Indice_Promedio_Edu_{year}'] = indices

promedio = promedio.drop([str(i) for i in range(1990, 2020)], axis=1)

In [164]:
promedio.head()

,Ranking,Pais,Indice_Promedio_Edu_1990,Indice_Promedio_Edu_1991,Indice_Promedio_Edu_1992,Indice_Promedio_Edu_1993,Indice_Promedio_Edu_1994,Indice_Promedio_Edu_1995,Indice_Promedio_Edu_1996,Indice_Promedio_Edu_1997,...,Indice_Promedio_Edu_2010,Indice_Promedio_Edu_2011,Indice_Promedio_Edu_2012,Indice_Promedio_Edu_2013,Indice_Promedio_Edu_2014,Indice_Promedio_Edu_2015,Indice_Promedio_Edu_2016,Indice_Promedio_Edu_2017,Indice_Promedio_Edu_2018,Indice_Promedio_Edu_2019
0,169,Afganistán,0.10,0.106667,0.106667,0.113333,0.12,0.126667,0.126667,0.133333,...,0.213333,0.220000,0.226667,0.233333,0.233333,0.240000,0.240000,0.253333,0.260000,0.260000
1,69,Albania,0.52,0.520000,0.520000,0.520000,0.52,0.533333,0.546667,0.553333,...,0.620000,0.666667,0.666667,0.666667,0.666667,0.666667,0.666667,0.673333,0.673333,0.673333
2,91,Argelia,0.24,0.253333,0.266667,0.286667,0.30,0.313333,0.333333,0.346667,...,0.473333,0.493333,0.506667,0.520000,0.526667,0.526667,0.526667,0.533333,0.533333,0.533333
3,36,Andorra,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.693333,0.693333,0.693333,0.700000,0.700000,0.706667,0.706667,0.700000,0.700000,0.700000
4,148,Angola,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.313333,0.313333,0.320000,0.326667,0.326667,0.333333,0.340000,0.340000,0.346667,0.346667

## Calculo del Indice de Educacion

In [165]:
heads = ["Pais"]
heads += [str(i) for i in range(1990, 2020)]
indice = pd.DataFrame({}, columns=heads)

In [175]:
import numpy as np

def calcular_indice(_pais, expect, prom):
    dicci = {
        "Pais": _pais
    }
    indice = (prom[3:].to_numpy() + expect[3:].to_numpy()) / 2

    for i in range(1990, 2020):
        indx = str(i)
        dicci[indx] = indice[indx]
    return dicci

for country in promedio.Pais:
    indice = indice.append(calcular_indice(country, expectativa[expectativa.Pais == country], promedio[promedio.Pais == country]))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices